*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  background-color: #f1f5f8;
}

.nav_area {
  background-color: #fff;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  padding: 20px 0;
  letter-spacing: 3px;
}

.nav_area h4 {
  color: #2ad8ff;
  font-weight: 400;
  cursor: pointer;
}

.nav_links {
    display: flex;
    gap: 30px;
    position: relative;
}

.nav_links li a {
  display: inline-block;
  text-decoration: none;
  color: rgb(56, 56, 56);
  transition: linear 0.1s;
}
.nav_links li a:hover {
  color: #2ad8ff;
}

.nav_links li a.active{
    border-bottom: 5px solid #000;
}

main {
  min-height: 92vh;
  display: grid;
  place-items: center;
  width: 100%;
  text-align: center;
}

#container h2 {
  background-color: rgba(42, 42, 42, 0.5);
  color: #fff;
  padding: 25px;
  border-radius: 10px;
  letter-spacing: 5px;
}
#container .color {
  color: #2ad8ff;
}

.btn_hero {
  margin-top: 50px;
  padding: 10px 30px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: transparent;
  border: 3px solid #000;
  border-radius: 5px;
  color: #000000;
  font-weight: 500;
  transition: linear 0.1s;
  cursor: pointer;
}
.btn_hero:hover {
  background-color: #000000;
  color: #f1f5f8;
}
